# Configurações do Banco de Dados
# Para SQLite (Testes/Local): sqlite:///./tasks.db
# Para PostgreSQL: postgresql://usuario:senha@localhost:5432/nome_do_banco
DATABASE_URL=sqlite:///./tasks.db

# Segurança
SECRET_KEY=sua-chave-secreta-aqui

# Integração Telegram (Opcional)
TELEGRAM_BOT_TOKEN=seu_token
TELEGRAM_CHAT_ID=seu_chat_id
