# Configurações do Banco de Dados
# Para SQLite (Testes/Local): sqlite:///./tasks.db
# Para PostgreSQL: postgresql://usuario:senha@localhost:5432/nome_do_banco
DATABASE_URL=sqlite:///./tasks.db

# Segurança
SECRET_KEY=sua-chave-secreta-aqui

# Integração Telegram para notificações da API (Opcional)
TELEGRAM_BOT_TOKEN=seu_token
TELEGRAM_CHAT_ID=seu_chat_id

# Bot Telegram client-side (Opcional)
TELEGRAM_CLIENT_BOT_TOKEN=seu_token_do_bot_cliente
API_BASE_URL=http://localhost:8000
